.orders-page{
  max-width:1200px;
  margin:auto;
  padding:20px;
}

.orders-title{
  text-align:center;
  font-size:3rem;
  margin-bottom:30px;
}

/* Cards Grid */

.orders-grid{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(320px,1fr));

  gap:25px;
}

/* Card */

.admin-order-card{
  background:white;

  padding:20px;

  border-radius:15px;

  box-shadow:
  0 5px 15px rgba(0,0,0,.08);

  transition:.3s;
}

.admin-order-card:hover{
  transform:translateY(-5px);
}

.admin-order-card h3{
  color:#2563eb;
  margin-bottom:15px;
}

.admin-order-card p{
  margin:12px 0;

  font-size:15px;

  word-break:break-word;
}

/* Status */

.pending{
  background:orange;
  color:white;

  padding:5px 10px;

  border-radius:20px;

  margin-left:10px;
}

.delivered{
  background:green;
  color:white;

  padding:5px 10px;

  border-radius:20px;

  margin-left:10px;
}
.deliver-btn{

  width:100%;

  margin-top:15px;

  padding:10px;

  border:none;

  border-radius:10px;

  background:#16a34a;

  color:white;

  cursor:pointer;

  font-weight:600;
}
/* Tablet */

@media(max-width:992px){

  .orders-grid{
    grid-template-columns:
    repeat(2,1fr);
  }

}

/* Mobile */

@media(max-width:768px){

  .orders-page{
    padding:15px;
  }

  .orders-title{
    font-size:2rem;
  }

  .orders-grid{
    grid-template-columns:1fr;
  }

  .admin-order-card{
    padding:15px;
  }

}